@font-face {
    font-family: IranYekan;
    src: url(../fonts/iranyekanwebregular.ttf);
}
.btn_login{
    font-family: IranYekan;
    display: block;
    width: 50%;
    border: 1px solid #ff1749;
    border-radius: 5px;
    color: #ff1749;
    background-color: #fff;
    margin: 15px auto;
}
.btn_login:hover{
    cursor: pointer;
    border: 1px solid #ff1749;
    color: #fff;
    background-color: #ff1749;
}