.dv_header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #ff1749;
    border: 1px solid #ff1749;
    border-radius: 5px;
    padding: 20px;
}